# Environment variables (contains sensitive token)
.env

# Dependencies
node_modules/

# Build output
dist/

# TypeScript build info
*.tsbuildinfo

# OS files
.DS_Store
Thumbs.db

# Editor directories
.vscode/
.idea/
.kiro/*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Jest cache
.jest-cache/
jest_cache/
./scripts/*

# Video files
*.mkv
*.mp4
*.avi
*.mov
*.webm
1777707473265-player-script.js
.gitignore
1777707473256-player-script.js
